/* 
    Document   : main
    Created on : 7/07/2009, 03:56:37 PM
    Author     : caguirre
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

* {margin:0; padding:0;}
body, div, span, p, a, img, ul, ol, li, caption, table, thead, tbody, tfoot, tr, th, td, form, fieldset, legend, label, dl, dt, dd, blockquote, applet, object, h1, h2, h3, h4, h5 {border:0;}

body {
    padding:0;
    font:0.9em/1.5 "calibri", sans;
    text-align:center;
}


a {text-decoration:none;}

table#locations{
    display:none;
    padding:0;
    width:40%;
    margin: 15px auto;    
}

table#locations tr td{
    background-image:url('../images/fondo_loc.png');
    background-repeat:no-repeat;
    background-position:center;
    padding:4px 5px;    
}
table#locations tr td a{
    color:#fff;
}


table#rounded{
    border:1px solid black ;
   
}


div#welcome{
    font: large calibri, sans
}

/*
    ------------- Layout de principal.jsp --------------
*/

#main{width: 1000px; margin: 0 auto; text-align:left; background-color:#fff; }

    #banner{position: relative; padding:10px 0; /*border-bottom:15px solid gray;*/ text-align:center}

    #session{position:relative; text-align:right; background-color:gray; margin-top:3px; color: #fff; padding-right:10px }
    #session a{color: #fff }
    #session a:hover{color: #f77300; text-decoration: underline}

    #header{position:relative; padding-bottom:0; border-bottom:15px solid gray; height: 120px;}
        #logo_principal{margin:0 0 0 20px;width:160px;}
        #menu{float:right; width: 70%; position:relative;margin-top:9.2%;overflow:hidden}
        #menu ul{clear: left; float: left; list-style:none; margin: 0; padding: 0; position:relative; left:50%; text-align:center; }
        #menu ul li{display: block; float: left; list-style:none; margin: 0; padding: 0; position:relative; right:50%; text-align:center;}
        #menu ul li a{display: block; margin: 0; padding: 5px 25px; line-height:1.3em; background-color:#f77300; color: #fff}
        #menu ul li a:hover{background-color:#f7a100}

    #detail{background-color:#fff; border:1px solid black; }
        #logoandrate{ float:left; width:20%; text-align:left;margin: 5px  }
        #info{ float:left; width:75%; text-align:left; font-size:smaller; }
            #description{padding: 15px 5px}
            #directions{float:left; width:50%; text-align:left; }
            #rest_picture{ float:left; margin:10px 25px}


    #onlinemenucategories{border-bottom:5px solid gray; height:58px; font-size:small;}
        #logo_menuonline{ margin-top: 35px;}
        #category{float:right; width: 70%; }
        #category ul{clear: left; float: left; list-style:none; margin: 0; padding: 0; position:relative; left:50%; text-align:center}
        #category ul li{display: block; float: left; list-style:none; margin: 0; padding: 0; position:relative; right:50%; text-align:center}
        #category ul li a{display: block; margin: 0; padding: 5px 15px; line-height:1.5em; background-color:#f77300; color: #fff}
        #category ul li a:hover{background-color:#f7a100}

    #outerborder{margin: 10px 25px;}
        



    #flash{text-align:center;/*border-bottom:15px solid gray*/}

    #content{position:relative; padding:0 25px; /*padding:5px 0;*/ overflow:hidden; 
        /*border-bottom:15px solid gray; background: inherit;*/ background-color:#fffee5}


    #dishes{text-align:left}
        #singledish{border-bottom:2px solid gray; margin-top:4px;}
        #dishphoto{float:left; width:100px; height:60px;  }
        #dishname{font-style:oblique; font-size:larger}
        #dishdescription{}
        #dishdetails{}

     #searchresultspanel{
         margin:20px 100px;
         width:800px;
        
     }




    


        
/*
     #multicols {
     text-align: left;
     -moz-column-count: 4;
     -moz-column-gap: 1.5em;
     -moz-column-rule: none;
     -webkit-column-count: 4;
     -webkit-column-gap: 1.5em;
     -webkit-column-rule: none;
     }
     #multicols a{color: #f77300;}
     #multicols a:hover{text-decoration: underline;}


     #searchresultspanel{
         margin:20px 100px;
         width:800px;
     }

     #searchresults {
     text-align: left;
     -moz-column-count: 2;
     -moz-column-gap: 1.5em;
     -moz-column-rule: none;
     -webkit-column-count: 2;
     -webkit-column-gap: 1.5em;
     -webkit-column-rule: none;
     }
     #searchresults a{color: #f77300;}
     #searchresults a:hover{text-decoration: underline;}

*/

    #lowerband{background: repeat-y 0% 0%; background-color:silver; border-bottom:15px solid gray; height:205px; }
        #leftcol{  width:45%; text-align:center; margin:10px 10px; float:left;}
        #rightcol{ width:45%; text-align:center; font-size:small; margin: 10px 10px; float:right;  }




    #footer{clear: both; font-size:85%;border:2px solid lime}

/* :::::::::::::::::::: Otros :::::::::::::::::::::::::::::::*/





    .menu-left-side{background: #fff url('../images/rnd-lt.png') no-repeat scroll left  }
    .menu-right-side{background: #fff url('../images/rnd-rt.png') no-repeat scroll right  }
    .gray-bar{background-color:gray; height:15px; clear:both}

    .titlebox{background-color:#f77300; width:12em; color: #fff; margin:15px 0}
    .rtop, .rbottom{display:block; background-color:#fffee5}
    .rtop *, .rbottom *{display: block; height: 1px; overflow: hidden; background-color:#f77300}
    .r1{margin: 0 5px}
    .r2{margin: 0 3px}
    .r3{margin: 0 2px}
    .r4{margin: 0 1px; height: 2px}

    .contentbox{background-color:#fff; padding:10px 15px;margin: 10px; 
            border: 1px solid black; text-align:left;
            max-height:230px;max-width:390px;
     }
     .contentbox table{
         width: 100%;
         line-height: 12px;
     }
     .contentbox table a{
         color: #f77300;
         text-decoration:underline;
     }
    .cleared{clear:both}
    .round{
        font-size:large;
    }

