.menu-bg-default {height: 150px; background: #eeeeee; font: normal 9pt tahoma; border-top: 1px #dddddd solid; border-bottom: 1px #dddddd solid; padding: 30px 40px 30px 80px; position: relative;}
.menu-bg-administracion {height: 180px; background: #eeeeee; font: normal 9pt tahoma; border-top: 1px #dddddd solid; border-bottom: 1px #dddddd solid; padding: 30px 40px 30px 80px; position: relative;}
.menu-title {font: normal 12pt tahoma; color: #444444; padding: 5px 15px 5px 15px;}
.menu-item {background: #e5e5e5; border: 1px #dddddd solid; font: normal 10pt tahoma; color: #666666; margin: 2px; padding: 5px 10px 5px 10px; cursor: pointer;}
.menu-item-over {background: #d5d5d5; border: 1px #cccccc solid; font: normal 10pt tahoma; color: #000000; margin: 2px; padding: 5px 10px 5px 10px; cursor: pointer;}
.menu-item-selected {background: #d5d5d5; border: 1px #cccccc solid; font: normal 10pt tahoma; color: #000000; margin: 2px; padding: 5px 10px 5px 10px; cursor: pointer;}
.titulo {background: #B84444; font: normal 12pt tahoma; color: #ffffff; padding: 10px;}
.subtitulo {background: #EEEEEE; font: normal 10pt tahoma; color: #888888; padding: 10px; margin: 5px;}
.form-item {padding: 2px 10px 2px 10px;}
.form-item-btn {padding: 20px 0px 20px 0px; text-align: center;}
.form-item-nombre {width: 125px; float: left; padding: 5px 5px 0px 5px;}
.labels {text-align: right; font: normal 12pt tahoma;}
.labels-busqueda {text-align: left; font: normal 10pt tahoma;}
.link {font: normal 10pt tahoma; color: #888888; cursor: pointer; padding: 5px 15px 5px 15px;}
.link-over {font: normal 10pt tahoma; color: #444444; cursor: pointer; padding: 5px 15px 5px 15px;}
.consulta-labels {text-align: right; font: normal 10pt tahoma;}
.consulta-values {text-align: left; font: normal 10pt tahoma;}
.busqueda {width: 480px; height: 300px; background: #f5f5f5; border: 1px #e5e5e5 solid; position: absolute; top: 75px; left: 10px;}
.validacion {font: bold 12pt tahoma; color: #E01B4C;}